*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
}

body { 
 color: #fff; 
 background: #202020; 
 font-family: 'Open sans', sans-serif; 
}

.material-symbols-outlined{
  display: flex;
  font-size: 2vh;
  min-width: 4.5vh;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
 }
 
.head{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1vw 2vw;
 height: 6vh;
 background-color: black;
 color: #fff;
 font-size: 2vw;
}

.log{
 display: flex;
 flex: .3;
 align-items: center;
 justify-content: center;
} 
.logname{ 
 display: flex;
}

.searchContainer{
 display: flex;
 width: 40%;
 align-items: center;
 justify-content: space-between;
 color: white;
}

.searchbox{
 flex: .98;
 display: inherit;
 width: 60vw;
 height: 5vh;
 column-gap: .25vw;
 border-radius: 50vw ;
 background: #404040;
 overflow: hidden;
 padding: .2vh .35vh;
}

.inputSearch{
 flex: 1;
 border: none;
 outline: none;
 font-size: 2vh;
 display: inherit;
 background-color: black;
 border-radius: 2vh 0 0 2vh;
 padding: 1vh 0.5vh 1vh 2vh;
}

.search{
 min-width: 12%;
 border-radius: 0 2vh 2vh 0;
 background: #202020;
}
.voiceSearch{
 background: #202020;
}
.inof{
 display: inherit;
 gap: 2.5vh;
}
.inof .material-symbols-outlined{
 font-size: 3vh;
 min-width: fit-content;
}

.prev:hover, .next:hover, .Selected:hover, .active { color: #00a7ff; }

.Selectedsbox { 
 left: 50%; 
 bottom: 20px; 
 cursor: pointer; 
 position: absolute; 
 transform: translate(-50%); 
}

.Selected { 
 margin: 10px; 
 cursor: pointer; 
 display: inline-block; 
}

.material-symbols-outlined { 
 font-size: 24px; 
 display: inline-block; 
 font-family: 'Material Symbols Outlined'; 
}

@media (max-width: 812px) {
 footer { 
  bottom: 0; 
  height: 6vh; 
  width: 100vw; 
  display: flex; 
  position: fixed;
  padding: 5px 0; 
  align-items: center; 
  justify-content: space-around; 
  border-top: .3vh solid #595958; 
 }

 footer .footer { 
  width: 20vw;
  flex-grow: 1;
  display: flex; 
  font-size: 1.5vh;
  align-items: center; 
  flex-direction: column; 
  /* justify-content: space-evenly;  */
 }

 footer .footer span { 
  font-size: 3vh; 
 }

 footer .footer:nth-child(3) span { 
  font-size: 6vh; 
 }
}

@media (max-width: 414px) {
 .footer p { display: none; }
 .footer span { font-size: 6vh; }
 .footer:nth-child(3) span { font-size: 9vh; }
}
